body {
  min-height: 100vh;
  background-image: radial-gradient(rgba(10, 117, 188, 0.3), rgba(10, 117, 188, 0.8));
}

.body,
.head,
.hair,
.eye-skin,
.arm-left,
.arm-right,
.evil-hair,
.tooth {
  -webkit-transition: 1s cubic-bezier(0.91, 0.28, 0.06, 1.6);
  transition: 1s cubic-bezier(0.91, 0.28, 0.06, 1.6);
}

.minion {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.head {
  width: 400px;
  height: 350px;
  background-color: #fce029;
  border-radius: 20% 20% 0 0 / 40% 40% 0 0;
  position: absolute;
  border-top: 20px solid #fce029;
  z-index: 5;
}

.head::before {
  content: '';
  width: 300px;
  height: 100px;
  background-color: #fce029;
  position: absolute;
  top: -50px;
  border-radius: 99% 99% 0 0;
  left: 50px;
  z-index: 1;
}

.glass {
  width: 200px;
  height: 200px;
  background-color: #949699;
  position: absolute;
  z-index: 7;
  border-radius: 50%;
  left: 100px;
  border: 2px solid #231F20;
  -webkit-box-shadow: -10px 4px 0 #4d4d4d, inset 3px -3px 10px rgba(0, 0, 0, 0.3), inset 5px -5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: -10px 4px 0 #4d4d4d, inset 3px -3px 10px rgba(0, 0, 0, 0.3), inset 5px -5px 10px rgba(0, 0, 0, 0.4);
}

.glass::before {
  content: '';
  width: 20px;
  height: 50px;
  background-color: #949699;
  position: absolute;
  left: -28px;
  bottom: 40%;
  border: 1px solid #231F20;
  border-radius: 5px 0 0 5px;
  z-index: 2;
}

.eye {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #231F20;
  overflow: hidden;
  z-index: 8;
}

.eye .eye-skin {
  width: 200px;
  height: 200px;
  background-color: #fce029;
  position: absolute;
  border-radius: 50%;
  top: -185px;
  left: -20px;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  z-index: 2;
  border-bottom: 1px solid #231F20;
}

.eye .pupil {
  border: 1px solid #231F20;
  width: 50px;
  height: 50px;
  background-color: #A87A51;
  position: absolute;
  border-radius: 50%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  -webkit-box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 3px -3px 5px rgba(0, 0, 0, 0.5);
  -webkit-animation: moveEye 5s ease-in infinite;
          animation: moveEye 5s ease-in infinite;
}

.eye .pupil::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  top: 65%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 9px -10px 0 black;
          box-shadow: 9px -10px 0 black;
  border: 1px solid black;
}

.strip1 {
  width: 75px;
  height: 48px;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(8%, #0c0b0b), color-stop(21%, #0b0a0a), color-stop(29%, #1b1b1b), color-stop(43%, #1c1c1b), color-stop(67%, #585551), color-stop(90%, #817d76), to(black));
  background: linear-gradient(90deg, black 0%, #0c0b0b 8%, #0b0a0a 21%, #1b1b1b 29%, #1c1c1b 43%, #585551 67%, #817d76 90%, black 100%);
  position: absolute;
  left: -0px;
  top: 72px;
  z-index: 5;
  border-radius: 5px 0 0 5px;
}

.strip2 {
  width: 97px;
  height: 48px;
  background: black;
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(8%, #0c0b0b), color-stop(21%, #0b0a0a), color-stop(29%, #1b1b1b), color-stop(43%, #1c1c1b), color-stop(67%, #585551), color-stop(90%, #817d76), to(black));
  background: linear-gradient(to left, black 0%, #0c0b0b 8%, #0b0a0a 21%, #1b1b1b 29%, #1c1c1b 43%, #585551 67%, #817d76 90%, black 100%);
  position: absolute;
  right: -0px;
  top: 76px;
  z-index: 5;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid #231F20;
}

.mouth {
  position: absolute;
  width: 150px;
  height: 50px;
  border-radius: 50%;
  background-color: #fce029;
  bottom: 10px;
  left: 120px;
  -webkit-box-shadow: 0 -3px 0 black;
          box-shadow: 0 -3px 0 black;
  z-index: 3;
}

.body {
  width: 400px;
  height: 340px;
  background-color: #fce029;
  position: absolute;
  left: 0px;
  bottom: -50px;
  border-radius: 0 0 100% 100%;
  overflow: hidden;
}

.main-cloth {
  width: 250px;
  height: 300px;
  margin: 0 auto;
  background-color: #0A75BC;
  -webkit-box-shadow: inset 5px 5px 1rem rgba(0, 0, 0, 0.3);
          box-shadow: inset 5px 5px 1rem rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 70px;
}

.bottom-cloth {
  width: 500px;
  height: 200px;
  background-color: #0A75BC;
  position: absolute;
  left: 0;
  bottom: -50px;
  -webkit-box-shadow: inset -10px -10px 1rem rgba(0, 0, 0, 0.3);
          box-shadow: inset -10px -10px 1rem rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.left-hold {
  width: 140px;
  height: 40px;
  background-color: #0A75BC;
  position: absolute;
  bottom: 215px;
  left: -20px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: 12;
  border: 1px solid #231F20;
  border-radius: 10px;
  -webkit-box-shadow: inset -5px -5px 1rem rgba(0, 0, 0, 0.5);
          box-shadow: inset -5px -5px 1rem rgba(0, 0, 0, 0.5);
}

.left-hold::before {
  content: '';
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 5px;
  -webkit-box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.4);
          box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.4);
}

.right-hold {
  width: 140px;
  height: 40px;
  background-color: #0A75BC;
  position: absolute;
  bottom: 215px;
  right: -20px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  z-index: 12;
  border: 1px solid #231F20;
  border-radius: 10px;
  -webkit-box-shadow: inset 5px -5px 1rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 5px -5px 1rem rgba(0, 0, 0, 0.5);
}

.right-hold::before {
  content: '';
  width: 35px;
  height: 35px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  left: 5px;
  -webkit-box-shadow: inset 3px -3px 10px rgba(255, 255, 255, 0.4);
          box-shadow: inset 3px -3px 10px rgba(255, 255, 255, 0.4);
}

.pocket {
  width: 150px;
  position: absolute;
  height: 150px;
  background-color: #0A75BC;
  left: 120px;
  top: 120px;
  z-index: 5;
  border-radius: 10px 10px 100% 100%;
  -webkit-box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 1rem rgba(0, 0, 0, 0.5);
}

.pocket::before {
  content: 'G';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #231F20;
  z-index: 6;
  color: #0A75BC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.left-leg {
  border-bottom: 80px solid #0A75BC;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 60px;
  position: absolute;
  z-index: 5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -85px;
  left: 70px;
}

.left-leg::before {
  content: '';
  width: 100px;
  height: 60px;
  background-color: #231F20;
  position: absolute;
  border-radius: 40%;
  bottom: -3px;
  left: -20px;
  -webkit-box-shadow: 0 -3px 0 gray, inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 -3px 0 gray, inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
}

.left-leg::after {
  content: '';
  width: 20px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -14px;
}

.right-leg {
  border-bottom: 80px solid #0A75BC;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 60px;
  position: absolute;
  z-index: 5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -85px;
  right: 70px;
}

.right-leg::before {
  content: '';
  width: 100px;
  height: 60px;
  background-color: #231F20;
  position: absolute;
  border-radius: 40%;
  bottom: -3px;
  left: -20px;
  -webkit-box-shadow: 0 -3px 0 gray, inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 -3px 0 gray, inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
}

.right-leg::after {
  content: '';
  width: 20px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -14px;
}

.arm-left {
  width: 250px;
  height: 40px;
  background-color: #fce029;
  position: absolute;
  bottom: 105px;
  left: -115px;
  z-index: 10;
  -webkit-transform: rotate(-85deg);
          transform: rotate(-85deg);
  border-radius: 5px;
  border-top: 1px solid #231F20;
}

.arm-left::before {
  content: '';
  width: 50px;
  height: 10px;
  background-color: #231F20;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.arm-left::after {
  content: '';
  width: 100px;
  height: 60px;
  background-color: #231F20;
  position: absolute;
  border-radius: 50%;
  bottom: -10px;
  left: -90px;
  z-index: 8;
  -webkit-box-shadow: inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
          box-shadow: inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
}

.arm-right {
  width: 250px;
  height: 40px;
  background-color: #fce029;
  position: absolute;
  bottom: 105px;
  right: -115px;
  z-index: 10;
  -webkit-transform: rotate(265deg);
          transform: rotate(265deg);
  border-radius: 5px;
  border-bottom: 1px solid #231F20;
}

.arm-right::before {
  content: '';
  width: 50px;
  height: 10px;
  background-color: #231F20;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.arm-right::after {
  content: '';
  width: 100px;
  height: 60px;
  background-color: #231F20;
  position: absolute;
  border-radius: 50%;
  bottom: -10px;
  left: -90px;
  z-index: 8;
  -webkit-box-shadow: inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
          box-shadow: inset -5px 5px 2rem rgba(255, 255, 255, 0.3);
}

.hair {
  width: 140px;
  height: 100px;
  position: absolute;
  background-color: transparent;
  z-index: 12;
  -webkit-box-shadow: 0 -5px 0 black;
          box-shadow: 0 -5px 0 black;
  border-radius: 50%;
}

.hair1 {
  width: 160px;
  top: -40px;
  left: 20px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.hair2 {
  width: 160px;
  top: -25px;
  right: 20px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.hair3 {
  width: 170px;
  top: -20px;
  left: 35px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.hair4 {
  top: -45px;
  right: 50px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.shadow {
  width: 500px;
  height: 100px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), color-stop(rgba(0, 0, 0, 0.6)), color-stop(rgba(0, 0, 0, 0.4)), color-stop(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2));
  position: absolute;
  bottom: -180px;
  left: -45px;
}

.magic {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  font-size: 5rem;
  border: none;
  background-color: purple;
  color: white;
  -webkit-box-shadow: 0 0 1rem rgba(35, 31, 32, 0.5);
          box-shadow: 0 0 1rem rgba(35, 31, 32, 0.5);
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
          animation: pulsate-fwd 0.5s ease-in-out infinite both;
  cursor: pointer;
}

.magic:hover {
  background-color: #b300b3;
}

.evil-hair {
  width: 600px;
  height: 500px;
  position: absolute;
  background-color: purple;
  z-index: 3;
  top: -406px;
  left: -90px;
  -webkit-clip-path: polygon(16% 99%, 0% 16%, 7% 17%, 13% 10%, 31% 25%, 36% 11%, 41% 9%, 57% 18%, 66% 26%, 71% 15%, 78% 9%, 85% 15%, 88% 23%, 97% 8%, 100% 15%, 80% 100%);
          clip-path: polygon(16% 99%, 0% 16%, 7% 17%, 13% 10%, 31% 25%, 36% 11%, 41% 9%, 57% 18%, 66% 26%, 71% 15%, 78% 9%, 85% 15%, 88% 23%, 97% 8%, 100% 15%, 80% 100%);
  background: repeating-linear-gradient(90deg, #60015b 0%, #d02de9 2%, #cd36ef 4%);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.tooth {
  position: absolute;
  width: 30px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.tooth1 {
  top: 270px;
  left: 120px;
}

.tooth2 {
  top: 250px;
  height: 70px;
  left: 180px;
}

.tooth3 {
  top: 270px;
  left: 240px;
}

.grow {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.badMinionSkin {
  background-color: #582e80 !important;
}

.hairRemove {
  opacity: 0;
}

.extendLeftArm {
  width: 310px;
  left: -140px;
}

.extendRightArm {
  width: 310px;
  right: -140px;
}

@-webkit-keyframes moveEye {
  0% {
    top: 45%;
    left: 50%;
  }
  20% {
    top: 65%;
    left: 50%;
  }
  60% {
    top: 75%;
    left: 20%;
  }
  80% {
    top: 75%;
    left: 60%;
  }
  100% {
    top: 45%;
    left: 50%;
  }
}

@keyframes moveEye {
  0% {
    top: 45%;
    left: 50%;
  }
  20% {
    top: 65%;
    left: 50%;
  }
  60% {
    top: 75%;
    left: 20%;
  }
  80% {
    top: 75%;
    left: 60%;
  }
  100% {
    top: 45%;
    left: 50%;
  }
}

@-webkit-keyframes blink {
  0% {
    top: -185px;
    left: -20px;
  }
  50% {
    top: -105px;
    left: -20px;
  }
  100% {
    top: -100px;
    left: -20px;
  }
}

@keyframes blink {
  0% {
    top: -185px;
    left: -20px;
  }
  50% {
    top: -105px;
    left: -20px;
  }
  100% {
    top: -100px;
    left: -20px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-12 13:33:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */